
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(236, 241, 233);
}

header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
    position: sticky;
    top: 0; 
    z-index: 100; 
}

.logo img {
    width: 500px;
    height: 70px; 
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 50px;
}

.menu li a:hover{
    color: #ff652f;
}


.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #899F38;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 3px;
    width: 30px;
    margin: 3px 0;
}

/* global */

.content{
    max-width: 960px ;         /* just for responsivenss */
    width: 85%;                /* just for responsivenss */
    margin: 0 auto;
    padding: 60px 0;
}


/* banner */

.slideshow-container {
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 400px;
    background-color: white;
    overflow: hidden;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
}



/* product categories*/


.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.cards {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.card {
    width: 250px;
    margin-right: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.card-text {
    padding: 15px;
}

h2 {
    font-size: 1.2rem;
    color: #899F38;
    margin-bottom: 10px;
}

.btn-container {
    width: 100%;
    text-align: center; 
    clear: both; 
}

.btn {
    width: 80px;
    margin-right: 105px;
    margin-bottom: 20px;
    float: right;
    padding: 10px 20px;
    background-color:#899F38;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #ff652f;
    color: #0b0908;
}

                                            /* what we offer */

.whatweoffer{
    background-color:white;
    color: black;
    height: fit-content;
    border-bottom: 3px dotted black;
    background-color: rgb(236, 241, 233);
}

h1{
    margin-top: 10px;
    font-size: 45px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.whatweoffer p{
    margin-top: 30px;
}


.whatweoffer a{
    float: right;
    margin: 20PX;
    margin-top: 20px;
    padding: 10px 20px;
    background-color:#899F38;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.whatweoffer a:hover{
    background-color:#ff652f;
    color: #0b0908;
}

                                            /* help section */

.help {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 3px dotted black;
}

.help-text {
    flex: 1;
    padding-right: 20px;
}

.search-bar {
  width: 500;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.helpbutton {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #899F38;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.helpbutton:hover {
    background-color:#ff652f;
    color:#0b0908;
}

                                                /*our story*/
                             
.ourstory{
    border-bottom: 3px dotted black;
} 
                                                

.ourstory h2{
    font-size: 30px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

                        
                                                /* reviews */

                                          
.reviewh1 {
    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
}

.block {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    border: 2px solid black;
    position: relative;
    cursor: pointer;
    background: url('images/review1.jpg') center/cover no-repeat;
    overflow: hidden;
}

.block:nth-child(2) {
    background: url('images/review2.jpg') center/cover no-repeat; 
}

.block .text p{
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    color: #0b0908;
    position: relative;
    background: rgba(255, 255, 255, 0.7); 
}

.block p {
    margin: 0;
}



                                                /* footer */

.footer {
    text-align: center;
    background-color: #0b0908; 
    color: black; 
    padding: 20px 0;
}

.footer h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #899F38;
    font-family: 'Rubik', sans-serif;
}

.footer p {
    margin-bottom: 10px;
    color: #d0ee12;
    font-family: 'Rubik', sans-serif;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 20px; 
}


.social-icons a:hover{
    color: #ff652f;
    transition: 0.3s;
}

                                            /* products page css*/

                                            /* note */

.note{
    border-bottom: 3px dotted black;
}

.note h1{
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 45px;
    text-align: center;
}

.note p{
    color: #0b0908;
    
}

.content-wrap{
    border-bottom: 3px dotted black;
}

.seasonh1{
    font-size: 45px;
    margin-bottom: 10px;
    color: #899F38;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.moreinformation p{
    color: #0b0908;
    font-weight: bold;
}

                                           /*product categories*/


.category-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.category-link {
    text-decoration: none; 
    width: 45%;
    margin-bottom: 20px;
    display: flex;
    border: 2px solid black;
    transition: transform 0.3s ease; 
}

.category-card {
    width: 100%; 
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
}

.category-text {
    width: 50%; 
    background-color: #899F38; 
    color:black;
    padding: 10px;
    text-align: center;
}

.category-text h2 {
    margin: 0;
    color: #0b0908;
}

.category-image {
    width: 50%; 
    text-align: center;
    padding: 10px;
}

.category-image img {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
    border-radius: 50%;
}

.category-link:hover {
    transform: scale(1.05);
}

                                            /*global category*/

.global{
    margin: 0 auto; 
}

.globalcards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.globalcard {
    width: 45%; 
    margin-bottom: 20px;
    border: 1px solid #ccc;
    transition: transform 0.3s ease; 
}

.globalcard img {
    width: 100%; 
    height: 400px; 
}


.globalcard-text {
    padding: 10px;
    text-align: center;
}

.globalcard-text h2 {
    margin: 0;
}

.globalh1{
    text-align: center;
    font-size: 60px;
    margin-bottom: 20px;
}

                                                 /*services*/

                                                 
.services h1{
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
}
.services-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-card {
    width: 40%;
    height: 400px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #0b0908;
    color: #899F38;
    border: 1px solid #ddd;
    text-align: center;
    transition: box-shadow 0.3s ease; 
}

.services-title {
    font-weight: bold;
    display: block;
    font-size: 30px;
    margin-top: 45%;
}

.services-details {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    margin-top: 20px;height: fit-content;    margin-bottom: 20px;
    display: none;
}
.services-card:hover {
    .services-title {
        display: none;
    }

    box-shadow: 5px 5px 20px rgba(10, 10, 10, 0.5);
    background-color: #899F38;
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.services-card:hover .services-details {
    display: block;
}

                                                /* Tips */
.banner{
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 550px;
    background-color: white;
    overflow: hidden;
}

.planting-tips h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.planting-tips {
     margin: 0 auto;
    padding: 20px;
}

.tips {
    margin-bottom: 20px;
    background-color: #899F38;
    padding: 10px;
    border: 2px double black;
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(2, 3, 2, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.tips:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.4);
    color: #0b0908;
}

h1 {
    text-align: center;
    color: #899F38;
}

h2 {
    font-size: 1.2em;
    color: #0b0908;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

                                                /*blog*/

        .section {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid gray; 
            padding-bottom: 20px; 
        }

        .last{
            border: none;
        }

        .blogh1{
            font-size: 30px;
            text-align: center;
            color: #899F38;
        }

        .blogh3{
            font-size: 25p;
            color: #62712b;
            font-weight: bold;
            margin-bottom: 3px;
        }

        .text p{
            color: #0b0908;
        }

        .image {
            flex: 1;
            text-align: center;
        }

        .image img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
        }

        .text {
            flex: 1;
            padding: 10px;
        }

        .button {
            float: right;
            padding: 10px 10px;
            margin-top: 12px;
            background-color: #899F38; 
            color: white;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }

        .button:hover {
            background-color: #ff652f; 
            color: #0b0908;
        }

                                            /*  Full blog */

.full-blog h1{
    margin-bottom: 20px;
    color: #899F38;
}

.full-blog p{
    line-height: 27px;
}

strong{
    color: #899F38;
}

                                            /* contact */

  .opening-hours {
            background-color: #0b0908;
            text-align: center;
            padding: 10px;
            font-size: 18px;
        }

    .opening-hours p{
        font-family: 'Rubik', sans-serif;
    }


        .open-text {
            font-size: 24px;
            color: #899F38;
            font-weight: bold;
        }

        .open-text:hover , .hours:hover{
            color: #ff652f;
        }

        .hours {
            font-size: 20px;
            color: #899F38;
        } 

        .contacth1{
            margin: 20px;
            color: #0b0908;
            font-size: 35px;
            font-weight: bold;
        }

        form {
            max-width: 400px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            color: white;
           background-color: #202212;
        }

        form:hover{
            box-shadow: 0 0 10px #171816; 
        }

        label {
            display: block;
            margin-bottom: 10px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="tel"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            transition: box-shadow 0.3s ease; 
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="tel"]:focus,
        textarea:focus {
            box-shadow: 0 0 10px #a2f994; 
        }

        textarea {
            resize: vertical;
        }

        input[type="submit"] {
            background-color:#899F38;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #ff652f;
            color: #0b0908;
        }


        .contact-section {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #899F38;
        }

        .contact-left {
            flex: 1;
            text-align: center;
        }

        .contact-left img {
            width: 250px;
            height: 200px;
        }

        .contact-right {
            flex: 1;
            padding-left: 20px;
        }

        .contact-right h2 {
            font-size: 20px;
            margin-bottom: 10px;
            font-family: 'Rubik', sans-serif;
        }

        .contact-right p {
            margin-bottom: 10px;
            font-family: 'Rubik', sans-serif;
        }

        .find-us-link {
            font-size: 14px;
            text-decoration: none;
            background-color:#0b0908;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 7px;
            cursor: pointer;
        }

        .find-us-link:hover {
            text-decoration: underline;
            color: #ff652f  ;
            background-color: #0b0908;
        }
        

        /*login page*/


        .login-container {
            background-color: #fff;
            border-radius: 5px;
            height:300px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            /* Black box shadow */
            padding: 20px;
            width: 300px;
            text-align: center;
        }
    
        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    
        button.button {
            display: block;
            width: 100%;
            float: right;
            margin-top: 50PX;
            align-items: center;
            padding: 10px;
            background-color: #899F38;
            border: none;
            color: white;
            border-radius: 3px;
            text-decoration: none;
            cursor: pointer;
            position: relative;
        }


        /* registration page */

        .registration-container {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            padding: 20px;
            height: 500px;
            text-align: center;
            position: absolute;
            top: 106px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

                                            /*  Responsive part */

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }
}
